export(scenarioGenerator)
export(attributeCalculator)
export(performanceSpaces)
export(plotLayers)
export(quickSpace)
export(exSpArgsVisual)
export(tankWrapper)
export(tankPerformance)
export(modCalibrator)
export(modSimulator)
export(devScenarioClean)

import(GA)
import(zoo)
import(doParallel)

importFrom(cowplot,ggdraw)
importFrom(cowplot,draw_label)
importFrom(cowplot,plot_grid)
importFrom(cowplot,save_plot)

importFrom("ggplot2","aes","coord_cartesian","element_blank",
             "element_rect","element_text","geom_line","geom_point",
             "geom_text","geom_tile","ggplot","guide_colorbar",
             "guides","margin","scale_colour_continuous","scale_color_continuous","scale_fill_continuous",
             "scale_fill_gradient","scale_x_continuous","scale_y_continuous",
             "stat_contour","theme","unit","xlab","xlim","ylab","ylim","stat")


importFrom(directlabels,geom_dl)

importFrom("grDevices", "adjustcolor", "col2rgb", "contourLines",
             "dev.off", "pdf", "rgb")
importFrom("graphics", "axis", "barplot", "boxplot", "bxp", "legend",
             "lines", "mtext", "par", "polygon", "text", "title")
importFrom("stats", "loess", "median", "predict", "quantile", "rgamma",
             "runif", "sd", "rnorm","acf","na.pass")
importFrom("utils", "modifyList", "read.table", "write.table", "write.csv")

importFrom("moments","skewness")



